body {
    background-color: whitesmoke;
}

#navbar {
    width: 230px;
    height: 100%;
    display: flex;
    flex-direction: column;
}

#main-doc {
    height: 100%;
}

#navbar a{
    display: block;
    margin: 10px 5px 10px 5px;
}

#container {
    display: flex;
}

header{
    font-size: 28px;
}

@media screen and (max-width:720px){
    #navbar {
        position: fixed;
        height: 230px;
        width: 100%;
        overflow-y: auto;
        top:0;
        background-color: lightgray;
    }

    #container {
        margin-top: 232px;
    }


}